/* src/css/custom.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background: #F0F0F04D;
  backdrop-filter: blur(88px);
  box-shadow: 0px 4px 8px 0px #00000014;
  border-radius: 8px;
  padding: 8px 16px;
  gap: 16px;
  position: fixed;
  top: 24px;
  left: 80px;
  width: 1200px;
  height: 58px;
}
